[submodule "LinkedList"]
	path = LinkedList
	url = git@github.com:Lorrami/LinkedList.git
[submodule "Vector"]
	path = Vector
	url = git@github.com:Lorrami/Vector.git
[submodule "Hash"]
	path = Hash
	url = git@github.com:Lorrami/Hash.git
